<article class="container" id="joboffers">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="newbutton">
        <%= link_to "Create a new one", newoffer_path, :class => "btn btn-default btn-sm" %>
      </p>
      <h1>The Job offers</h1>

      <form action="<%= root_path %>" class="form-inline" role="form">
        <%= render partial: "filterselect", locals: { defaultOption: "Where?", options: @areas.map{|area| [area.id, area.first_title]}, paramName: "area" } %>
        <%= render partial: "filterselect", locals: { defaultOption: "Contract type?", options: @contract_types, paramName: "contract_type" } %>
        <%= render partial: "filterselect", locals: { defaultOption: "Sponsoring?", options: @visas, paramName: "visa_sponsor" } %>
        <button type="submit" class="btn btn-default btn-sm">Filter this!</button>
      </form>

      <% @offers.each do |offer| %>
        <% area = offer['joboffer.area'] ? @areas_by_id[offer['joboffer.area'].id][0] : nil %>
        <div class="joboffer">
          <h3>
            <%= link_to offer.first_title, link_resolver(@maybe_ref).link_to(offer) %>
          </h3>
          <p>
            <%= offer['joboffer.contract_type'] ? "For #{offer['joboffer.contract_type'].value}" : '' %><!--
            --><%= area && area.first_title ? ", in #{area.first_title}" : '' %><!--
            --><%= offer['joboffer.asap'] && offer['joboffer.asap'].value == "Yes" ? ", starting ASAP" : (offer['joboffer.start'] ? ", starting #{friendly_date(offer['joboffer.start'])}" : '') %><!--
            --><%= offer['joboffer.end'] ? ", until #{friendly_date(offer['joboffer.end'])}" : '' %>
          </p>
        </div>
      <% end %>

      <% if @offers.length == 0 %>
        <p id="noresult">No result with your filters, be less picky! ;)</p>
      <% end %>

    </div>
  </div>
</article>